.rootDiv {
  width: 30%;
}

.logoImage {
  justify-content: center;
  margin-left: 10%;
  margin-top: 15%;
}

.navButton {
  margin-top: 5%;
  margin-left: 10%;
  width: 250px;
  height: 55px;
  background-color: white;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  /* border: none; */
}

.flights {
  background-image: url("../../Images/blackPlaneIcon.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 15px;
  justify-content: left;
}

.hotels {
  background-image: url("../../Images/blackHotelIcon.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 15px;
  justify-content: left;
}

.attractions {
  background-image: url("../../Images/blackAttricationsIcon.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 15px;
  justify-content: left;
}

.yourTrip {
  background-image: url("../../Images/blackHeadIcon.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 15px;
  justify-content: left;
}

.gray-line {
  border-top: 100000px solid gray;
  height: 10000000000px;
  width: 10000px;
}
