.rootDiv {
  width: 30%;
  margin: 0px;
  height: 100vh;
}

.logoImage {
  justify-content: center;
  margin-left: 10%;
  margin-top: 10%;
}

.navButton {
  margin-top: 5%;
  margin-left: 10%;
  width: 250px;
  height: 55px;
  background-color: white;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  border: none;
}

.flights {
  background-image: url("../../Images/blackPlaneIcon.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 15px;
  justify-content: left;
}

.flights:hover {
  background-image: url("../../Images/whitePlaneIcon.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 15px;
  justify-content: left;
  background-color: blue;
  color: white;
}

.hotels {
  background-image: url("../../Images/blackHotelIcon.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 15px;
  justify-content: left;
}

.hotels:hover {
    background-color: blue;
    color: white;
}

.attractions {
  background-image: url("../../Images/blackAttricationsIcon.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 15px;
  justify-content: left;
}

.attractions:hover {
    background-color: blue;
    color: white;
}

.yourTrip {
  background-image: url("../../Images/blackHeadIcon.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 15px;
  justify-content: left;
}

.yourTrip:hover {
    background-color: blue;
    color: white;
}
.gray-line {
  border-top: 100000px solid gray;
  height: 10000000000px;
  width: 10000px;
}

.bottomButtons {
  color: grey;
  border: none;
  background-color: transparent;
  margin-left: 10%;
  text-align: center;
  margin-left: 40px;
}

.buttonTextGrey {
  align-items: center;
  justify-content: center;
}
