backend/pom.xml.tag
backend/pom.xml.releaseBackup
backend/pom.xml.versionsBackup
backend/pom.xml.next
backend/release.properties
backend/dependency-reduced-pom.xml
backend/buildNumber.properties
backend/.mvn/timing.properties
backend/.mvn/wrapper


# Ignore log files
backend/log

# Ignore compiled Java classes
backend/*.class

backend/.mvn/maven-wrapper.jar
backend/mvnw
backend/mvnw.cmd

backend/.idea

#backend/target/classes/com/springbackend/app/rest

.DS_Store
#**/.DS_Store
#**/node_modules
/frontend/node_modules
/frontend/node_modules/.cache
/.pnp
.pnp.js
backend/target/classes/com/springbackend/app/rest/Attractions/Attractions.class
backend/target/classes/com/springbackend/app/rest/Attractions/AttractionsController.class
backend/target/classes/com/springbackend/app/rest/Attractions/AttractionsRepo 2.class
backend/target/classes/com/springbackend/app/rest/Attractions/AttractionsRepo.class
backend/target/classes/com/springbackend/app/rest/BudgetBuilder/BudgetBuilder.class
backend/target/classes/com/springbackend/app/rest/Flights/FlightObjects/Flights.class
backend/target/classes/com/springbackend/app/rest/Flights/FlightObjects/FlightsConfig.class
backend/target/classes/com/springbackend/app/rest/Flights/FlightsController.class
backend/target/classes/com/springbackend/app/rest/Flights/FlightsRepo.class
backend/target/classes/com/springbackend/app/rest/Flights/ItineraryObjects/Itineraries.class
backend/target/classes/com/springbackend/app/rest/Flights/ItineraryObjects/ItinerariesRepo.class
backend/target/classes/com/springbackend/app/rest/Flights/SegmentObject/Segments.class
backend/target/classes/com/springbackend/app/rest/Flights/SegmentObject/SegmentsRepo.class
backend/target/classes/com/springbackend/app/rest/Hotels/HotelController.class
backend/target/classes/com/springbackend/app/rest/Hotels/Hotels$HotelsBuilder.class
backend/target/classes/com/springbackend/app/rest/Hotels/Hotels.class
backend/target/classes/com/springbackend/app/rest/RestApplication.class
backend/target/classes/com/springbackend/app/rest/Restaurants/Restaurants$RestaurantsBuilder.class
backend/target/classes/com/springbackend/app/rest/Restaurants/Restaurants.class
backend/target/classes/com/springbackend/app/rest/Restaurants/RestaurantsController.class
backend/target/classes/com/springbackend/app/rest/Restaurants/RestaurantsRepo.class
backend/target/classes/com/springbackend/app/rest/User/User.class
backend/target/classes/com/springbackend/app/rest/User/UserRepo.class
backend/target/classes/com/springbackend/app/rest/User/UserRepoOAuth.class
backend/target/classes/com/springbackend/app/rest/Vacation/Vacation.class
backend/target/classes/com/springbackend/app/rest/Vacation/VacationController.class
backend/target/classes/com/springbackend/app/rest/Vacation/VacationRepo.class
backend/target/classes/com/springbackend/app/rest/VacationBuilder/VacationBuilder.class
*.icloud
