backend/pom.xml.tag
backend/pom.xml.releaseBackup
backend/pom.xml.versionsBackup
backend/pom.xml.next
backend/release.properties
backend/dependency-reduced-pom.xml
backend/buildNumber.properties
backend/.mvn/timing.properties
backend/.mvn/wrapper


# Ignore log files
backend/log

# Ignore compiled Java classes
backend/*.class

backend/.mvn/maven-wrapper.jar
backend/mvnw
backend/mvnw.cmd

backend/.idea

backend/target/classes/com/springbackend/app/rest

.DS_Store
#**/.DS_Store

/frontend/node_modules
/frontend/node_modules/.cache
/.pnp
.pnp.js
