.flightsRootDiv {
    position: relative;
    overflow-x: hidden;
}

.navBarComponent{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
}

.flightsContent {
    margin-left: 300px;
    background-color: #CDCDCD;
    height: 100vh;
    margin-top: 50px;
    margin-right: 50px;
}

.flightsToCity{
    text-align: left;
    padding-left: 4%;
    padding-top: 2%;
    color: #e64646;
    font: "work sans";
}
.clear {
  clear: both;
}

.reusableFlightDisplayRoot{
    background-color: #CDCDCD;
    height: auto;
    border: solid;
    background-color: white;
    border-radius: 50px;
    width: 95%;
    margin: 0 auto;
}
.flightsHeader {
    padding-left: 0;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* creates two columns with equal width */
    justify-content: center; /* centers the grid horizontally */
    align-items: center; /* centers the grid vertically */
    width: 100%; /* set the width of the grid to 100% */

}

.gridItem {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: auto;
    text-align: left;
}

.flightPathFont{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    font-family: "work sans";
    padding-left: 8%;
    display: inline-block;
}

.planeIcon {
    margin-left:5%;
}

.whiteAirportBuble {
    border: solid;
    border-radius: 50px;
    font-size: 20px;
    height: auto;
    text-align: left;
    background-color: white;
    font-weight: bold;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.leftBoxOutgoing {
    line-height: .45;
    align-items: right;
    justify-content: right;
}

.airlineText{
    font-size: 14px;
    font-weight: bold;
    color: black;
    font-family: "work sans";
    padding-left: 8%;
}

.infoStack{
    font-size: 14px;
    font-weight: bold bolder;
    color: black;
    font-family: "work sans";
    padding-left: 8%;
    align-items: center;
    justify-content: center;
}

.airportExtra{
    padding-left: 3%;
    font-weight: bold;
}

.arrowDiv {}