.navBarComponentHotels {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
      
}

.hotelsContent {
  margin-left: 300px;
  background-color: #e3e3e3;
  height: auto;
  margin-top: 50px;
  margin-right: 45px;

  /* border: solid; */
}

.hotelsInCity {
  text-align: left;
  padding-left: 4%;
  padding-top: 2%;
  color: #e64646;
  font-family: 'Work Sans' sans-serif;
  font-size: 26px;
}

.gridCardHoldingDiv{

}