.topRowIcons {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttonDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    
  }
  
  .loginButtonDetails {
    background-color: white;
    height: 50px;
    margin: auto;
    width: 115px;
    color: black;
    justify-content: center;
    font: Work Sans;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 10px;

  }
  .signUpButtonDetails {
    margin-left: 10px;
    background-color: white;
    height: 50px;
    margin: auto;
    width: 115px;
    color: black;
    justify-content: center;
    font: Work Sans;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;

  }
  
  .textFormInputDetails {
    background-color: white;
    height: 55px;
    margin: auto;
    width: 350px;
    color: black;
    justify-content: center;
    font: Work Sans;
    
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
    
  }
  .textFormInputDetails::placeholder{
    color: black;
    font: Work Sans;
    font-size: 18px;
    text-align: center;
  }

  .textFormInputDetails:focus::placeholder{
    outline: none;
    color: transparent;
    font-weight: lighter;
  }
  .letsGetGoing {
    color: #3F52E3;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
  }
  .calendarDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  .openCalendarButton {
    background-color: white;
    height: 55px;
    margin: auto;
    width: 350px;
    color: black;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    font: Work Sans;
    font-weight: bold;

    background-image: url('../../Images/calendarIcon.png');
    background-repeat: no-repeat;
    background-position: left 15px center;
  }

  .letsGoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .letsGoButton {
    background-color: black;
    height: 55px;
    margin: auto;
    width: 350px;
    color: white;
    justify-content: center;
    font: work sans;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;

  }
  
.smallLogoStyle {
    height: 65px;
    width: 56px;
  }
  
  .textLogoStyle {
    height: 22px;
    margin-left: 20px;
    margin-top: 32px;
    width: 96px;
  }

.formFiller {
    justify-content: center;
    background-image: url("../../Images/formBackgroundDetailsPage.png");;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 0%;
    padding-bottom: 40%;
}
.loginForms{
    padding-top: 5%;
    text-align: center;
}
/* ================ */
