.loginBox {
  /* width: 320px;
  height: 370px; */
 /* background-color: rgba(109, 133, 140, 0.9); */
  /* top: 50%;
  left: 50%; */
  /* position: absolute; */
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 50px 30px;
  border-radius: 30px;
}
.container {
  /* background-size: cover; */
  /* margin: 0; */
  /* padding: 0; */
  /* height: 100vh;
  width: 100vw; */
  /* height: auto; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-top: 300px; */
  /* top: 0; */
  /* left: 0; */
  /* height: 100vh; */
}



.loginText {
  color: #3F52E3;
  font-family: 'work sans';
  font-size: 22px;
  margin: 0px;
  padding: 0px;
}

.newHereText{
  color: #3F52E3;
  font-family: 'work sans';
  font-size: 45px;
  margin: 0px;
  padding: 0px;

}

.welcomeText {
  color: #3F52E3;
  font-family: 'work sans';
  font-size: 45px;
  margin: 0px;
  padding: 0px;
}

.centerText {
  text-align: center;
  align-items: center;
  color: #3F52E3;
  font-family: arial;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

.loginArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 45px;
  
}

.signUpFormDiv {
  width: 700px;
  justify-content: center;
  margin: auto;
  position: relative;
}

.signUpImageIcon   {

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-right: 35px;
}
.signUpImageText   {
  /* width: 150px; */

}
.textLogoLogin {
  margin: 15px;

}

.buttonSubmitSignup {
  font-family: 'work sans';
  align-items: center;
  color: #fffdfc;
  font-size: 19px;
  /* text-shadow: 1px 1px 0px #010203; */
  width: 500px;
  height: 45px;
  border-radius: 30px;
  border: 0px solid #3F52E3;
  background: #3F52E3;
}

.inputLabelSignUp {
  width: 600px;
  height: 50px;
  border-radius: 15px;
  border-color: black;
  box-shadow: none;
  outline: none;
  font-size: 14px;
  font-family: 'work sans';
  text-align: left;
  padding-left: 15px;
}

.errorMessage{
  font: 'work sans';
  color: red;
  padding-top: 10%;
}

.bigSignUpDiv{
  background-color: #3F52E3;
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;

}

.signUpHeaderImages {
  display: block;

  width: 100%;
}
 