.rootContainer {
  border: solid;
  border-color: red;
  background-color: grey;
  position: fixed;

  height: 0vh;
}

.gridCardContainerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftChildGridCard {
  /* max-width: 100%; */
  border: none;
  /* border-color: blue; */
  background-color: white;
  border-radius: 30px;
  font-family:  'Work Sans';
  color: black;
  margin-left: 3%;
  padding-left: 4%;
  max-width: 70%;
  padding-top: 2%;
  display: inline-block;
  float: left;
    
  padding-bottom: 2%;
  padding-right: 3%;
  padding-left: 3%;
  
}

.boldLocationName {
  font-family: 'Work Sans';
  font-weight: 600;
}
.leftHeaderText {
  padding-left: 25%;
}

.headerTextDiv {
  display: inline-flex;
  width: 100%;
}

.rightChildGridCard {
  align-items: center;
  justify-content: center;
  display:flex;
  height: 100%;
  padding-left: 5%;
}

.componentButtonDiv {
  text-align: center;
}

.addToTripButton {
  color: black;
  background-color: white;
  border: solid;
  width: 120px;
  height: 56px;
  font: 'work sans';
  font-weight: bold;
  border-radius: 20px;
  margin: auto;
}


.componentButtons {
    color: white;
    font: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
    background-color:#3F52E3;
    border: none;
    border-radius: 20px;
    height: 60px;
    width: 182px; 
    margin-left: 90px;
    margin-right: 90px;

}
.greyText {
    color: #6C757D;
    font-family: "work sans"
}


