.rootContainerFlight {
  border: solid;
  border-color: red;
  background-color: grey;
  position: fixed;

  height: auto;
}

.leftChildGridCardFlight {
  /* max-width: 100%; */
  border: none;
  /* border-color: blue; */
  background-color: white;
  border-radius: 30px;
  font-family: "Work Sans";
  color: black;
  margin-left: 3%;
  padding-left: 4%;
  /* max-width: 500px; */
  padding-top: 2%;
  display: inline-block;
  /* float: left; */
  /*border-color: red;
  padding-bottom: 2%;

  border: solid; */
}
.flightsWraperContainer {
  display: flex;
  gap: 18px;
  width: auto; 
  background-color: white;
  /* margin-left: auto; */
  /* flex-wrap: wrap;
  justify-content: space-between; /* Space child elements evenly */
  /* align-items: flex-start; */ 
  /* text-align: center; */

  margin-left: 3%;
  margin-right: 3%;
  padding-left: 4%; 
}

.flightsWraperContainerNew {
  /* display:flex;
    background-color: white;
    /* margin-left: auto; */
  /* margin-left: 3%;
    margin-right: 3%;
    padding-left: 4%;
    padding-top: 10%; */
}
.whiteAirportBubbleNew {
  border-radius: 50px;
  font-size: 20px;
  height: 55px;
  width: 100px;
  background-color: white;
  font-weight: bold;

  pointer-events: none;
  border: solid;
  color: black;
}

.blueAirportBubbleNew {
  /* border: solid; */
  border-radius: 50px;
  font-size: 20px;
  height: 55px;
  width: 100px;
  text-align: center;
  background-color: #3f52e3;
  font-weight: bold;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  pointer-events: none;
  position: relative;
  border: none;
  color: white;
}
.vertGreyLine {
  border-left: 1px solid #d9d9d9;
  height: auto;
  /* padding-left: 28px; */
}

.horizontalGreyLine {
  border: 0.75px solid #d9d9d9;
  width: 95%;
}
.segmentRowParent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.addButtonTripDiv {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: relative;
  /* margin-bottom: 50%; */
  /* margin-right: 3%;
    margin-top: 2%; */
}

.div1 {
  grid-area: 1/ 1 / 2 / 5;
  /* padding-top: 10%;
  padding-left"  */
  text-align: left;
    width: 15%;
  /* border:solid; */
}
.div2 {
  grid-area: 2 / 1 / 3 / 5;
}
.div3 {
  grid-area: 3 / 1 / 4 / 5;
  width:auto;
  padding-left: 11px;
}
/* .div4 {
  grid-area: 4 / 1 / 5 / 5;
} */

.div5 {
  grid-area: 1/2/2/5;
}
.div6 {
  grid-area: 2/2/3/5;
  /* width: 100%; */
}
.div7 {
  grid-area: 3/2/4/5;
}
/* .div8 {
  grid-area: 4/2/5/5;
} */

.divButton {
  grid-area: 0/0/0/0;
}

.div9 {
  grid-area: 1/3/2/5;
}
.div10 {
  grid-area: 2/3/3/5;
  
}
.div11 {
  grid-area: 3/3/4/5;
  padding-left: 10px;

}

.airlineText {
    font-size: 14px;
    font-weight: bold;
    color: black;
    font-family: "work sans";
    padding-left: 6%;
    align-items: center;
}
/* .div12 {
  grid-area: 4/3/5/5;
} */

.div14 {
  grid-area: 2/4/3/5;
  
}

.leftSideTextDivFlight {
  border: solid;
}

.boldLocationNameFlight {
  font-family: "Work Sans";
  font-weight: 600;
}
.leftHeaderTextFlight {
  border: solid;
  padding-left: 25%;
}

.headerTextDivFlight {
  display: inline-flex;
  width: 100%;
}

.rightChildGridCardFlight {
  align-items: center;
  width: 10%;
  /* padding-left: 70%; */
  border: solid;
  /* padding-top: 10%; */
}

.componentButtonDivFlight {
  text-align: center;
}
.componentButtonsFlight {
  color: white;
  font: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 50px;
  background-color: #3f52e3;
  border: none;
  border-radius: 20px;
  height: 60px;
  width: 182px;
  margin-left: 90px;
  margin-right: 90px;
}
.greyTextFlight {
  color: #6c757d;
  font-family: "work sans";
}

.addToTripButtonFlight {
  color: black;
  background-color: white;
  border: solid;
  width: 120px;
  height: 56px;
  font: "work sans";
  font-weight: bold;
  border-radius: 20px;
}

.arrowIconGrid {
  border: solid;
  width: 100%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 25px;
}

.segmentContainer {
  grid-area: 1 / 1 / 2 / 5;
  border: solid;
}
.segmentRowOne {
  grid-area: 2 / 1 / 3 / 5;
  border: red;
}
.segmentRowTwo {
  grid-area: 3 / 1 / 4 / 5;
  border: green;
}
.SegmentRowThree {
  grid-area: 4 / 1 / 5 / 5;
  border: blue;
}

.segmentWrapper {
  display: inline-flex;
}

.leftSideRender{
    /* padding-top: 10px; */
    /* display:inline-block;  */
    /* Display child elements inline */
    /* width: auto;  */
    /* vertical-align: top; Align content to top of divs */

    flex-grow: 1;
    



}
.rightSideRender{
    /* padding-top: 10px; */
    flex-grow: 1;
    /* display:inline-block;  */
    /* Display child elements inline */
    /* width: auto;  */
    /* height: auto; */
    /* vertical-align: top; Align content to top of divs */
}

.tripTotalCostText{
    font-family: 'Work Sans';
    font-weight: 1000;
    
}
.addToTripDiv{
    text-align: center;
    /* padding-top: 17%; */
    padding-left: 5%;
    padding-right: 5%;
    /* display:inline-block; */
    width: auto; 
    /* vertical-align: top; */
}